<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>推播管理</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 
  <script src="https://kit.fontawesome.com/82fbc43281.js" crossorigin="anonymous"></script>
  <script src="./js/jquery.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="./css/Menu_style.css">
  <link rel="stylesheet" href="./css/Header_style.css">
</head>
<style>
    body{
        width: 100%;
        
    }
    .row h3{
        font-size: 40px;
        margin-top: 50px;

    }
    .row table{
        width: 100%;
        /* max-width: 700px; */
        height: 100%;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
    }
    .table a{
        text-decoration: none;
    }

    td form{
	display: inline;
    }
</style>
  <body>
    <input type="checkbox" name="" id="menu_control">
    <div class="header">
        <a href="#" class="logo"><img src="img/Images/logo-1.png" width="180" alt="logo"></a>
        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>
        <nav class="menu">
            <ul class="menu_ul">
                <div class="search">
                    <input type="text" class="search-bar" id="search" placeholder="Search">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </div>
                <li class="active"><a href="#">首頁</a></li>
                <li><a href="#">賽事</a></li>
                <li><a href="#">商城</a></li>
                <li><a href="#">論壇</a></li>
                <li><a href="#">會員</a></li>
                <div class="user">
                    <a href="#" class="user-btn"><img src="img/Images/user.png" alt="user" class="user-btn-img">
                        <span>登入</span>
                    </a>
                </div>
            </ul>
        </nav>
    </div>

<input type="checkbox" name="" id="side-menu-switch">
    
<div class="side-menu">

    <nav class="nav">
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>回首頁</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>會員主頁</a>
        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>修改資料</a>
        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>更改密碼</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>比賽管理</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>推播管理</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>訂單查詢</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>收藏清單</a>
        <a href="#"><i class="fa fa-home" aria-hidden="true"></i>管理商品評論</a>
    </nav>
    <label for="side-menu-switch">
        <i class="fa fa-angle-right"></i>
    </label>

</div>

<!--管理list-->
        <div class="row">             
            <div class="container">
                  
                <h3 class="text-center">活動列表</h3>
                搜尋：<input type="search" class="light-table-filter" data-table="order-table" placeholder="">
        <table class="order-table">
                <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">杯賽名稱</th>
                                <th scope="col">成員人數</th>
                                <th scope="col">盃賽狀態</th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>大吉杯</td>
                            <td>成員:&emsp;<form>6</form></td>
                            <td>
                                <a href="#" th:href="">編輯</a>
                                <a href="#" onclick="del()" th:href="">刪除</a>
                            </td>    
                        </tr>

                        <tr>
                            <td>小吉杯</td>
                            <td>成員:&emsp;<form>4</form></td>
                            <td>
                                <a href="#" th:href="">編輯</a>
                                <a href="#" onclick="del()" th:href="">刪除</a>
                            </td>    
                        </tr>    
                        <tr>
                            <td>小吉杯</td>
                            <td>成員:&emsp;<form>4</form></td>
                            <td>
                                <a href="#" th:href="">編輯</a>
                                <a href="#" onclick="del()" th:href="">刪除</a>
                            </td>    
                        </tr> 
                        <tr>
                            <td>小吉杯</td>
                            <td>成員:&emsp;<form>4</form></td>
                            <td>
                                <a href="#" th:href="">編輯</a>
                                <a href="#" onclick="del()" th:href="">刪除</a>
                            </td>    
                        </tr>                   
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4"> 
                                <a href="#" class="item" >上一頁</a>
                                <a href="#" class="item" >下一頁</a>
                            </th>
                        </tr>
                    </tfoot>
  
                </table>
            </div>
        </div>
              <!-- -------------------------JavaScript-------------------------------- -->
    <script>
        function del() {
        var msg = "您真的確定要刪除嗎？";
        if (confirm(msg)==true){
        return true;
        }else{
        return false;
}
}
    </script>
             
          </body>
</html>