@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body{
	height: 100%;
}
body{
	display: flex;
	align-items: center;
    

}
.table{
	width: 900px;
	margin: auto;
    margin-top: 200px;
    /* border: 1px solid red; */
    
}
.table table{
	width: 100%;
	border: 3px double #666;
	background: #fff;
	border-radius: 10px;
}
.table thead {
	background: #333;
	color: #fff;
}
.table thead th:first-child{
	border-radius: 7px 0 0 0;
}
.table thead th:last-child{
	border-radius: 0 7px 0 0;
}
.table tbody tr:nth-child(even){
	background-color: #ffa;
}
/* .table tbody tr:hover{
	background-color: #FEE;
} */
.table tfoot td:first-child{
	border-radius: 0 0 0 7px;
}
.table tfoot td:last-child{
	border-radius: 0 0 7px 0;
}
.table th,.table td{
	border: 1px solid #666;
	padding: 10px 10px;
	font-family: 'Noto Sans TC', sans-serif;
}
.table caption{
	caption-side: bottom;
	text-align: right;
	padding: 10px 0;
	color: #CCC;
}
.table caption a{
	color: #eee;
}
.table .input{
    position: fixed;
}
.breadcrumb{
    position: absolute;
    display: flex;
    border: 1px solid red;
    right: 100px;
    top: 100px;
    
}
.breadcrumb li{
    padding: 6px 8px;
    position: relative;
    
    
    /* border: 1px solid red;  */

       
}
.breadcrumb li a{
    color: #000;
    text-decoration: none;
    /* font-size: 20px; */
    
}
.breadcrumb li a:hover{
    color: red;
    
}

.breadcrumb li + li::before{
    content: '/';
    color: #aaa;
    position: absolute;
    left: 0;
}
.table h2{
    width: 100%;
    margin-left: 354px;
    font-size: 50px;
}
.table td{
	text-align: center;
}

.table a{
	text-decoration: none;
}

.order-table{
	margin-top: 20px;
}
.txt{
    width: 300px;
    padding: 20px;
    margin-left: 300px;
    height: 300px;
}
.txt textarea{
    margin-top: 30px;
    width: 400px;
    height: 200px;
}

