<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/82fbc43281.js" crossorigin="anonymous"></script>
    <title>一般會員主頁</title>
    <link rel="stylesheet" href="./css/Mainpage_Style.css">
    <link rel="stylesheet" href="./css/Menu_style.css">
    <link rel="stylesheet" href="./css/Header_style.css">
</head>
<body>
    <input type="checkbox" name="" id="menu_control">
    <div class="header">
        <a href="#" class="logo"><img src="img/Images/logo-1.png" width="180" alt="logo"></a>
        <label for="menu_control" class="menu_btn">
            <span>選單</span>
        </label>
        <nav class="menu">
            <ul class="menu_ul">
                <div class="search">
                    <input type="text" class="search-bar" id="search" placeholder="Search">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </div>
                <li class="active"><a href="#">首頁</a></li>
                <li><a href="#">賽事</a></li>
                <li><a href="#">商城</a></li>
                <li><a href="#">論壇</a></li>
                <li><a href="#">會員</a></li>
                <div class="user">
                    <a href="#" class="user-btn"><img src="img/Images/user.png" alt="user" class="user-btn-img">
                        <span>登入</span>
                    </a>
                </div>
            </ul>
        </nav>
    </div>

    <input type="checkbox" name="" id="side-menu-switch">
    
    <div class="side-menu">

        <nav class="nav">
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>回首頁</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>會員主頁</a>
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>修改資料</a>
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>更改密碼</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>比賽管理</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>推播管理</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>訂單查詢</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>收藏清單</a>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i>管理商品評論</a>
        </nav>
        <label for="side-menu-switch">
            <i class="fa fa-angle-right"></i>
        </label>

    </div>
    <div class="box">
        <!-- <c:forEach var='member' items='${member}'></c:forEach> -->
        <div class="signup">    
        <form class="form">
        <h2>一般會員主頁</h2>
        <div class="all-group">
            <div class="group">
                帳號:
                    <!-- <input type="member_account" class="form-control" name="member_account" value=""> -->
                    <p>${member_account}</p>
                真實姓名: 
                    <!-- <input type=" member_real_name" class="form-control" name=" member_real_name" value=""> -->
                    <p>${member_real_name}</p>
                暱稱: 
                    <!-- <input type="member_user_name" class="form-control" name="member_user_name"> -->
                    <p>${member_user_name}</p>
                性別:
                    <!-- <input type="member_sex_id" class="form-control" name="member_sex_id"> -->
                    <p>${member_sex_id}</p>
                頭貼照片:
                    <!-- <input type="member_member_image" class="form-control" name="member_member_image" value=""> -->
                    <p>${member_image}</p>
                    
            </div>
            <div class="group1">
                電子信箱:
                    <!-- <input type="member_email" class="form-control" name=" member_email">  -->
                    <p>${member_email}</p>
                手機號碼:
                    <!-- <input type="member_mobile_phone" class="form-control" name="member_mobile_phone"> -->
                    <p>${member_mobile_phone}</p>
                市話號碼:
                    <!-- <input type="member_fixed_line_telephone" class="form-control" name="member_fixed_line_telephone">  -->
                    <p>${member_fixed_line_telephone}</p>
                出生日期:
                    <!-- <input type="member_sex_id" class="form-control" name="member_sex_id"> -->
                    <p>${member_sex_id}</p>
                地址:
                    <!-- <input type="member_address" class="form-control" name="member_address" value="">   -->
                    <p>${member_address}</p>
            </div> 
        </div>    
        </form>
    </div>
    </div>
     
    
</body>
</html>